{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{%static base.css%}">
    {%block css%} {%endblock%}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/a59296a4c2.js" crossorigin="anonymous"></script>
    <title>{%block title%}{%endblock%}</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" id="logo" href="#"><Img src="{%static 'empresaurios-removebg-preview 3.svg' %}" ></Img></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a>
        Hola, {{user_name}}
      </a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Busca tus articulos" aria-label="Busca tus articulos">
          <button class="btn btn-outline-success" type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </form>
      </div>
      <a>
        <i class="fa-sharp fa-light fa-cart-shopping-fast">Carrito</i>
      </a>
    </div>
  </nav>
    {%block body%} 
    
    {% if messages %}
    {% for message in messages %}
      <script>
        swal({
            title: "{{ message.message|escapejs }}",
            icon: "{{ message.tags }}",
        });
      </script>
    {% endfor %}
  {% endif %}
    
    
    
    {%endblock%}
</body>
</html>