<!-- 
    Esta plantilla se refiere al muckup 2, aquel donde se 
    enlistan los productos encontrados con arroz
    el contexto es:
    {'products': products, 'query':product,"len":len(products)})
    products: contiene todos los productos que contienen el nombre
    solicitado en el formulario de la barra superior. 
    query: contiene la búsqueda exacta que el usuario hizo.
    y 
    len contiene la cantidad de productos encontrados


    cada producto debe estar dentro de una etiqueta a que redirija 
    al usuario al link "/products/<id_product>"" donde id_product 
    se refiere al id del producto seleccionado, este dato pueden 
    obtenerlo del contexto. 

    así mismo para acceder a cada producto en la lista 'products' 
    investiguen la etiqueta for para templates de django. pregunten 
    a chat gpt 
 -->